.carousel {
    display: flex;
    align-items: center;

}

.carousel-img {
    height: 80px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.3s;

}

img {
    overflow: visible;

}

.carousel-img:hover,
.carousel-img:focus {
    transform: scale(1.2);
}